<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Thunder Dawg">
    <meta name="mobile-web-app-capable" content="yes">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

    <link rel="icon" href="{{ '/assets/icon.png' | relative_url }}" type="image/png">
    <link rel="icon" href="{{ '/assets/icon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/assets/icon.png' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>
    {{ content }}
  </body>
</html>
